* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #E5E5E5;
    height: 130vh;

}

.caixa-inteiro {
    width: 375px;
    background-color: #f4f4f4;
    margin: 0 auto;
    /*É PARA CENTRALIZAR SEMPRE DA FRENTE DA VERDEIRA MARGIN*/
    margin-top: 100px;
}

header {
    width: 375px;
    height: 66px;
    background-color: #1B83E2;

}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #f4f4f4;
    text-align: center;
    /*é para alinar texto e titulo*/
    padding-top: 22px;

}

main {
    padding: 24px;
}


label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}

select {
    background-color: #ffff;
    border: 1px solid #bbbb;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    /* para tira azul das bordas*/
    appearance: none;
    /* para tira a seta select*/
    padding-left: 16px;
    /* espacionamento interno quando que dá uma afastada*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    /*sombra de leve da borda*/
    margin-top: 6px;
    margin-bottom: 24px;

}

input {
    background-color: #ffff;
    border: 1px solid #bbbb;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    outline: none;
    /* para tira azul das bordas*/
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    /*sombra de leve da borda*/
    font-size: 18px;

}

button {
    background-color: #1B83E2;
    border-radius: 25px;
    height: 48px;
    cursor: pointer;
    color: #f4f4f4;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    border: none;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 10px;

}

button:hover

/*quando mouse passa por cima*/
    {
    opacity: 0.09;
}

button:active

/*quando clica algo*/
    {
    opacity: 0.07;
}

section {
    border: 1px solid #1B83E2;
    border-radius: 4px;
    margin: 0px 24px 36px 24px;
    
}

.caixas-de-bandeira {
    text-align: center;
    padding: 10px;

}

.caixa-real-dolar {
    font-weight: normal;
    font-size: normal;
    font-size: 14px;
    color: #777777;

}

.caixa-de-valor{
    color:#1B83E2;
    font-weight: bold;
    font-size: 20px;
}

.seta{
    margin: 15px auto;
    display: block;
}